#name,role,cpuCount,Memory,network,mac,provisionerHost,provisionerUser,provisionerPort,provisionerBasePath
master1,init_master,2,4096,default,52:54:00:e2:8c:11,provisioner1.example.com,root,22,/var/lib/libvirt/images
master2,master,2,4096,default,52:54:00:e2:8c:12,provisioner2.example.com,root,22,/var/lib/libvirt/images
node1,node,2,4096,default,52:54:00:e2:8c:13,provisioner1.example.com,root,22,/var/lib/libvirt/images
node2,node,2,4096,default,52:54:00:e2:8c:14,provisioner2.example.com,root,22,/var/lib/libvirt/images
node3,node,2,4096,default,52:54:00:e2:8c:15,localhost,root,22,/var/lib/libvirt/images
